{% extends "base.html" %}

{% block datatable_content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Slug</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Updated At</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objects %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.slug }}</td>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.price }}</td>
                    <td>{{ obj.updated_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}